th {
    font-weight: 600 !important;
    color:#5E6679;
    font-size: 14px;
}

.span-color{
    color:#768399
}
.span-color-paginacao{
    color: orange
}

.v-pagination__item .v-pagination__item--is-active {
 background-color:red
}

.row-pagination{
    background-color: #FFFFFF;
}

